.talent-cell {
    min-width: 60px;
    max-width: 60px;
    overflow: clip;
}

.talent-container {
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.talent {
    min-width: 48px;
    max-width: 48px;
    min-height: 48px;
    max-height: 48px;
    overflow: clip;
}

/* Talent col settings */
.talent-col-1 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.talent-col-2 {
    grid-column-start: 2;
    grid-column-end: 4;
}

.talent-col-3 {
    grid-column-start: 3;
    grid-column-end: 5;
}

.talent-col-4 {
    grid-column-start: 4;
    grid-column-end: 6;
}

.talent-col-5 {
    grid-column-start: 5;
    grid-column-end: 7;
}

.talent-col-6 {
    grid-column-start: 6;
    grid-column-end: 8;
}

.talent-col-7 {
    grid-column-start: 7;
    grid-column-end: 9;
}

.talent-col-8 {
    grid-column-start: 8;
    grid-column-end: 10;
}

.talent-col-9 {
    grid-column-start: 9;
    grid-column-end: 11;
}

.talent-col-10 {
    grid-column-start: 10;
    grid-column-end: 12;
}

.talent-col-11 {
    grid-column-start: 11;
    grid-column-end: 13;
}

.talent-col-12 {
    grid-column-start: 12;
    grid-column-end: 14;
}

.talent-col-13 {
    grid-column-start: 13;
    grid-column-end: 15;
}

.talent-col-14 {
    grid-column-start: 14;
    grid-column-end: 16;
}

.talent-col-15 {
    grid-column-start: 15;
    grid-column-end: 17;
}

.talent-col-16 {
    grid-column-start: 16;
    grid-column-end: 18;
}

/* Talent row settings */
.talent-row-1 {
    grid-row-start: 1;
    grid-row-end: auto;
}

.talent-row-2 {
    grid-row-start: 2;
    grid-row-end: auto;
}

.talent-row-3 {
    grid-row-start: 3;
    grid-row-end: auto;
}

.talent-row-4 {
    grid-row-start: 4;
    grid-row-end: auto;
}

.talent-row-5 {
    grid-row-start: 5;
    grid-row-end: auto;
}

.talent-row-6 {
    grid-row-start: 6;
    grid-row-end: auto;
}

.talent-row-7 {
    grid-row-start: 7;
    grid-row-end: auto;
}

.talent-row-8 {
    grid-row-start: 8;
    grid-row-end: auto;
}

.talent-row-9 {
    grid-row-start: 9;
    grid-row-end: auto;
}

.talent-row-10 {
    grid-row-start: 10;
    grid-row-end: auto;
}
