@using Salvation.Core.ViewModel

@if(Talents.Count == 0)
{
    <MudProgressCircular Color="Color.Default" Indeterminate="true" />
}
else
{
    <div class="talent-container">
        <div class="talent-grid mud-theme-dark">
            @foreach (var talent in Talents)
            {
                <a href="#" data-wowhead="spell=@(talent.TalentEntries[0].SpellId)" data-wh-rename-link="false"
                    class="talent talent-col-@(talent.TreeColumn) talent-row-@(talent.TreeRow)">
                    <div class="talent-border">
                        <div class="talent-image-holder">
                            <div class="talent-image" style="@GetImageStyle(talent.TalentEntries[0].Icon)">
                            </div>
                        </div>
                    </div>
                </a>
            }
        </div>
    </div>
}

@code {
    private static string NodeTypeSingle = "single";
    private static string NodeTypeChoice = "choice"; // Implement something for choice node later
    private static string UnknownIconName = "inv_misc_questionmark.jpg";

    [Parameter]
    public List<Talent> Talents { get; set; } = new List<Talent>();

    public string GetImageStyle(string talentIcon)
    {
        return $"background-image: url('static-data/icons/{talentIcon}.jpg'), url('static-data/icons/{UnknownIconName}');";
    }
}
